<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="{{ site.data.footer.sourcePath }}">阿贝</a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">&copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons icon-red">favorite</i> by
            <a href="{{ site.data.footer.sourcePath }}" target="blank">阿贝与懒芳</a> for a better web.
        </div>
    </div>
</footer>