---
layout: default
---
<div class="card card-blog">
    <div class="card-header card-header-image">
        <a href="#pablo">
            {% if page.articleBGImagePath != null %}
                <img class="img" src="{{ page.articleBGImagePath | prepend: site.baseurl }}"/>
            {% else %}
                <img class="img" src="{{ "/assets/imgs/articleBackground.jpg" | prepend: site.baseurl }}">
            {% endif %}
            <div class="card-title">
                <h4>Author：{{ page.author }}</h4>
                <h6 class="text-gray text-left">Date：{{ page.date | date: "%F" }}</h6>
            </div>
        </a>
    </div>
    <div class="card-body">
        <h2>{{ page.title }}</h4>
        <p class="card-description">{{ page.description }}</p>
        {{ content }}
    </div>
</div>